@use './../utils' as *;

.footer {
  @include flexbox($direction: column);
  gap: rem(24px);
  padding: rem(140px) rem(68px) rem(170px);
  font-size: rem(22px);
  line-height: 1.6;

  &__quick {
    @include flexbox($justify: space-between);
    color: $gray2;

    .notice strong {
      color: $gray5;
      margin-right: rem(20px);
    }
    button {
      color: $gray2;
      padding: 0;
    }
    button:after {
      content:'+';
      margin-left: 1rem;
    }

    button:last-child:before {
      display: inline-block;
      content:'';
      width: 1px;
      height: rem(20px);
      background-color: $gray5;
      margin-left: rem(16px);
      margin-right: rem(16px);
      vertical-align: -.2rem;
    } 

    @include mobile {
      .quickBtn__group {
        display: none;
      }
    }
  }

  &__list {
    @include flexbox();
    gap: rem(36px);
    color: $gray2;

    @include mobile {
      flex-direction: column;
    }
  }

  &__content {
    color: $gray5;
    a {
      text-decoration: underline;
    }

    @include mobile {
      display: none;
    }
  }

  &__sns {
    @include flexbox();
    gap: rem(20px);

    &__item {
      flex-shrink: 0;
    }

    &__link {
      @include flexbox($justify: center, $items: center);
      width: rem(52px);
      height: rem(52px);
      border-radius: 50%;
      background-color: $gray8;
      padding: rem(12px);
    }
  }

  .copyright {
    color: $gray5;
   }

  .sprite {
    background-position: 0 -50px;
  }

}