@use './../utils' as *;

.join_page {
    width: 40%;
    max-width: 400px;
    margin: 30px auto 0;
}

.title_wrap {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 700;
}

.title_wrap h3 > p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: $gray3;
}

.new_id, .new_pw, .new_pw_check, .new_email{
    width: 100%;
    padding: 20px 15px 20px;
    background-color: $dark-bg2;
    color: $gray6;
    border: 0;
    outline: none;
    border-radius: 4px;
    margin-top: 10px;
}

.input_info {
    font-weight: 500;
    font-size: 10px;
    margin-top: 5px;
    color: $gray6;
}

.new_pw_check {
    margin-bottom: 10px;
}

#closePwCheck {
    width: 25px;
    height: 25px;
    background: url(./../image/login/Device=Desktop\,\ Name=Pw.png) no-repeat center;
    
}

.check_wrap {
    margin-top: 12px;
    margin-bottom: 13px;
    font-size: 13px;
    font-weight: 300;
    color: $gray2;
}

input[type="checkbox"] {
    display: none;
}

input#agreeAll + label > span{
    vertical-align: middle;
    padding-left: 5px;
}

input#agreeAll + label:before{
    content:"";
    display:inline-block;
    width:17px;
    height:17px;
    vertical-align:middle;
    background: url(./../image/login/Device=Desktop\,\ State=Default\,\ Type=Filled.png) no-repeat;
    background-size: 17px;
}

input#agreeAll:checked + label:before {
    content:"";
    background: url(./../image/login/Device=Desktop\,\ State=Active\,\ Type=Filled.png) no-repeat;
    background-size: 17px;
}

.agree_item::before {
}






.regist_btn {
    color: $gray3;
    background-color: $gray7;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    margin: 10px 0 40px;
    border-radius: 4px;
}

@media  {
    
}