@use './../utils' as *;

.logout {
  width: 100%;
  @include flexbox($justify: center, $items: center);
  @include pos($pos:fixed, $t:0, $b:0);

  &__content {
    width: 50%;
    max-width: 400px;
    background-color: $dark-bg2;
  }
  &__body {
    @include paddingY(30px);
    text-align: center;
  }

  &__links {
    position: relative;
  }

  &__link {
    width: 50%;
    @include paddingY(20px);
    @include flexbox($justify: center);
    float: left;
    color: $gray3;
    cursor:pointer;
  }

  &__yes {
    font-weight: 700;
  }

  &__vertical {
    color: $gray7;
    position: absolute;
    top: 20px;
  }
}