@use './../utils' as *;

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
  -webkit-appearance: none;
}

input[type=search]::-webkit-search-cancel-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(./../image/search/Device=Desktop\,\ Type=No_Filled.png) no-repeat right;
}

.search {
  width: 80%;
  @include autoMargin($marginX: auto);
  
  &__form {
    border-bottom: 1px solid $white;
    @include marginY($marginY: 50px);
    @include autoMargin;
  }

  &__formGroup {
    width: 100%;
    @include flexbox($items: center);
  }

  &__inputGroup {
    flex-grow: 1;
    background: url(./../../image/search/Search.png) no-repeat;
  }

  &__input {
    width: 100%;
    color: $gray7;
    font-size: 2rem;
    outline: none;
    border: none;
    background: transparent;
    @include paddingY(15px);
  }

  &__button {
    border: 0;
    width: 50px;
    height: 50px;
    background: url(./../image/search/Search.png);
    cursor: pointer;
  }

  &__listGroup {
    @include flexbox;
  }

  &__recent, &__realtime {
    width: 50%;
  }

  &__title {
    color: $gray2;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  &__history {
    color: $gray3;
    font-size: 1.2rem;
  }

  &__lists {
    color: $gray3;
    font-size: 1.2rem;
  }
  
  &__list {
    padding-bottom: 25px;
  }
  
  &__time {
    color: $gray5;
    font-size: 1.2rem;
  }
  
  &__rank {
    width: 30px;
    display: inline-block;
    color: $red_login;
  }
}





