@use './../utils' as *;

.search {
  width: 80%;
  margin: 0 auto;
}

.search__form {
  border-bottom: 1px solid $white;
  margin: 50px auto;
}

.search__inputGroup {
  flex-grow: 1;
  background: url(./../../image/search/Search.png) no-repeat;
}

.search__formGroup {
  width: 100%;
  display: flex;
  align-items: center;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	-webkit-appearance: none;
}

.search__input {
  background: transparent;
  color: $gray7;
  outline: none;
  border: none;
  padding: 15px 0;
  font-size: 2rem;
  width: 100%;
}

input[type=search]::-webkit-search-cancel-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(./../image/search/Device=Desktop\,\ Type=No_Filled.png) no-repeat right;
}

.search__button {
  align-items: center;
  border: 0;
  width: 50px;
  height: 50px;
  background: center url(./../image/search/Search.png);
  cursor: pointer;
}

.search__division {
  display: flex;
}

.search__recent {
  width: 50%;
}

.search__realtime {
  width: 50%;
}

.search__title {
  color: $gray2;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.search__history {
  color: $gray3;
  font-size: 1.2rem;
}

.search__lists {
  color: $gray3;
  font-size: 1.2rem;
}

.search__list {
  padding-bottom: 25px;
}

.search__time {
  color: $gray5;
  font-size: 1.2rem;
}

.search__rank {
  width: 30px;
  display: inline-block;
  color: $red_login;
}